.flag{
    width: 50px;
    height: auto;
}

.list-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.card{
    margin: 30px;
}

.button{
    margin-left: 12px;
    margin-bottom: 10px;
    /* display: flex; */
    /* position: fixed; */
}
.detail{
    margin-left: 55px;
}
.progress{
    /* display: flex; */
    /* justify-content: center; */
}